html, body
{
    margin: 0;
    padding: 0;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(22, 94, 25);
}

div div h2 {
    font-size: 2.5em;
    padding: 20px;
}

div div p {
    font-size: 1em;
}

.button {
    padding: 10px;
    border-radius: 24px;
    border: 4px solid RGBA(0, 128, 0, 0.9);
    background-color: RGBA(255, 255, 255, 0.4);
    font-size: large;
    color: black;
    transition: all 0.5s ease;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.button:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: rgba(22, 94, 25, 0.8);
    color: white;
}

.button-selected {
    padding: 10px;
    transform: scale(1.1);
    border-radius: 24px;
    border: 4px solid RGBA(128, 0, 128, 0.9);
    font-size: large;
    color: black;
    filter: invert(0.9);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#nav  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav  li {
    display: inline;
    margin-right: 5px;
}

.container {
    display: grid;
    left: 0px;
    grid-template-areas:
    'header header header header header'
    'sidebar main main main main'
    'sidebar main main main main'
    'footer footer footer footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 1fr;
      gap: 10px;
}

.logo {
    width: 50%;
    height: width;
    background-color: rgb(220, 255, 220);
    border-radius:50px;
}

.header {
    grid-area: header;
    width: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: rgb(22, 94, 25);
    color: white;
    text-align: center;
}  


.header #nav {
    align-content: right;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.header #logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: auto;
    margin-bottom: auto;
}

.header #title {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    font-size: xx-large;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 38px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.container .main {
    grid-area: main;
    padding: 10px;
    text-align: center;
    font-size: 10vw;
    z-index: 1;
    text-align: left;
    font-size: x-large;
}

.container .sidebar {
    grid-area: sidebar;
    padding: 10px;
    background-color: rgb(220, 255, 220);
}

.container .footer {
    width: auto;
    grid-area: footer;
    background: rgb(22, 94, 25);
    text-align: center;
    padding: 20px;
    color: white;
    left: 0px;
}

#image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width: 1025px) { /*1020 is the exact moment it peeks over, 5px for safety*/
  .container, .main {
    display: block;
    width: auto;
    height: auto;
    text-shadow: none;
  }
  #nav {
    display: none;
  }

  .dropdown {
    display: block;
  }

}
@media screen and (min-width: 1025px) {
  .dropdown {
    display: none;
  }
}

